<div class="page-header">
  <%= link_to new_import_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Import
  <% end %>
  <h1>Listing imports</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Notes</th>
        <th>Live</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @imports) do |import| %>
        <td><%= import.notes %></td>
        <td><%= import.live %></td>
        <td><%= link_to 'Show', import %></td>
        <td><%= link_to 'Edit', edit_import_path(import) %></td>
        <td><%= link_to 'Destroy', import, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
