<div class="page-header">
  <%= link_to imports_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New import</h1>
</div>

<div class="col-sm-12">
  <%= form_for(@import, :html => { :class => "form-horizontal", :multipart => true }) do |f| %>

    <div class="form-group">
      <%= f.label 'Select product csv file' %>
      <ul>
      <li><%= link_to 'Download an example', '/sample_products_file.csv' %></li>
      <li>Format: <code>sku,name,description,price_cents</code></li>
      <li>Header row required</li>
      </ul>
      <div class="input-group">
        <span class="input-group-btn">
            <span class="btn btn-primary btn-file">
                Browse&hellip;
                <%= f.file_field :file %>
            </span>
        </span>
        <input type="text" class="form-control" readonly>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :notes %>
      <%= f.text_area :notes, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit "Upload", :class => "btn btn-primary" %>
    </div>

  <% end %>
</div>